<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>e-επαφές</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link href="/css/bootstrap-icons.css" rel="stylesheet">
  <link href="/css/boxicons.min.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon"  href="/static/img/favicon.ico">
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>
  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3">
                <div class="card-body">

                    <div class="d-flex justify-content-center">
                      <div  style="font-weight: bold;font-size: xx-large">e-επαφές</div>
                    </div>
                    <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Πύλη Εισόδου</h5>
                    <p class="text-center small">Συμπληρώστε τον email/συνθηματικό για είσοδο στην εφαρμογή</p>
                    </div>

                  <p th:if="${loginError}" class="error" style="color: red" >Λάθος διαπιστευτήρια. Δοκιμάστε ξανά</p>

                  <form class="row g-3 needs-validation" method="post" th:action="@{/pages-login}">
                    <div class="col-12">
                      <div class="input-group has-validation">
                        <input type="text" name="username" class="form-control" id="email" required autofocus placeholder="email">
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="input-group has-validation">
                      <input type="password" name="password" class="form-control" id="password" required placeholder="password">
                      </div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Είσοδος</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Δεν έχετε λογαριασμό; <a th:href="@{/pages-register}">&nbsp;&nbsp;Δημιουργία Λογαριασμού</a></p>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
</body>
</html>