<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>e-επαφές</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon"  href="/img/favicon.ico">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link href="/css/bootstrap-icons.css" rel="stylesheet">
  <link href="/css/boxicons.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3">
                <div th:if="${param.success}">
                  <div class="alert alert-info">
                    You have successfully registered our app!
                  </div>
                </div>

                <div class="card-body">
                  <div class="d-flex justify-content-center ">
                    <span class="d-none d-lg-block" style="font-weight: bold;font-size: xx-large">e-επαφές</span>

                  </div>
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Δημιουργία Λογαριασμού</h5>
                    <p class="text-center small">Παρακαλούμε συμπληρώστε τα παρακάτω πεδία</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate method="post"
                        role="form"
                        th:action="@{/pages-register/save}"
                        th:object="${user}">
                    <div class="col-12">
<!--                      <label for="name" class="form-label">Ονοματεπώνυμο</label>-->
                      <input type="text" name="name" class="form-control" id="name" required placeholder="Enter full name"
                             th:field="*{name}">
                      <p th:errors = "*{name}" class="text-danger"
                         th:if="${#fields.hasErrors('name')}"></p>
                    </div>

                    <div class="col-12">
<!--                      <label for="email" class="form-label">Email</label>-->
                      <input type="email" name="email" class="form-control" id="email" required placeholder="Enter email address"
                             th:field="*{email}">
                      <p th:errors = "*{email}" class="text-danger"
                         th:if="${#fields.hasErrors('email')}"></p>
                    </div>

                    <div class="col-12">
<!--                      <label for="yourPassword" class="form-label">Συνθηματικό</label>-->
                      <input type="password" name="password" class="form-control" id="yourPassword" required placeholder="Enter password"
                             th:field="*{password}">
                      <p th:errors = "*{password}" class="text-danger"
                         th:if="${#fields.hasErrors('password')}"></p>
                    </div>

                    <br>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Δημιουργία Λογαριασμού</button>
                    </div>

                    <div class="col-12">
                      <br/>
                      <p class="small mb-0">Έχετε Λογαριασμό; <a th:href="@{/pages-login}">Είσοδος στην Εφαρμογή</a></p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="js/bootstrap.bundle.min.js"></script>
<!--  <script src="/chart.js/chart.umd.js"></script>-->
<!--  <script src="/echarts/echarts.min.js"></script>-->
<!--  <script src="/quill/quill.min.js"></script>-->
<!--  <script src="/simple-datatables/simple-datatables.js"></script>-->
<!--  <script src="/tinymce/tinymce.min.js"></script>-->
<!--  <script src="/php-email-form/validate.js"></script>-->

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>
</html>